body {
    
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color:#000000;
    background: url(img/bg_2.jpg) no-repeat 0px 0px #000000;
    background-size: auto;
    background-position: top center;
    
}

header {
    
   height: 135px;
   color: #dfe2e1;
}

footer {
    
   height: 70px;

   color: #818181;
   margin-top: 50px;
   padding: 5px;
}

.logo {
    
    width: 474px;
    height: 135px;
    margin: 10px auto;
    
    -webkit-animation:spin 2s infinite;
    -webkit-animation-timing-function:linear;
    
}


.img_stone {
    
    width: 125px;
    height: 125px;
    float:left;
    -webkit-animation:anim 3s infinite;
    -webkit-animation-timing-function:linear;
    
}


a {
    color: #222228;
    text-decoration: none;
    font-size: 14pt;
}

a:hover {
    color: #222228;
    text-decoration: underline;
}
  
hr {
    border: 1px solid #6cafd1;
}

.main {
    
    width: 1100px;
    margin: 0 auto;

}


nav {
    display: block; 
    background: #608b9e;
    margin-top: 80px;
    height: 50px;
}

nav a {
    
    color: #ffffff;
    text-decoration: none;
    height: 45px;
    display: block;
    float: left;
    padding: 15px 15px 0px 15px;
    margin-top: 0 auto;
    
} 

nav a:hover {
    
    background: #7d9da5;
    color: #ffffff;
    height: 35px;
    display: block;
    float: left;
}

.content {
    
    background: #fcfcfc;
    color: #717171;
    padding: 10px;
    min-height: 600px;
}

.warning {
    
   background: #996666;
   color: #ffffff;
   padding: 10px;
    
}

.deck {  
    margin: 5px;
    width: 49%;
    float:left;
}

.deck_content {
width: 260px; 
height: 145px;
position: absolute;
margin: 5px;
}


.deck div { display:inline-block; }

.deck_img {
    width: 1050px;
    height: 1050px;
    margin: 0 auto;
}

.deck_description {
    
    padding: 18px;
}

.cover_mask {
    
    z-index: 2;
    width: 272px;
    height: 145px;
    background: url(img/artwork-frameV2.png) no-repeat 0px 0px transparent;
    position: absolute;
}

.cover_img {
    z-index: 1;
    width: 272px;
    height: 145px;
    position: relative;
}


img {
    
    border:0;
}


@-webkit-keyframes spin 
{
    0%   {-webkit-transform: scale(1);}
    25%  {-webkit-transform: scale(1.08);}
    50%  {-webkit-transform: scale(1.16);}
    75%  {-webkit-transform: scale(1.08);}
    100% { -webkit-transform: scale(1); }
}


@-webkit-keyframes anim 
{
    0%   { opacity: 1;}
    25%  { opacity: 0.75;}
    50%  { opacity: 0.6;}
    75%  { opacity: 0.75;}
    100% {  opacity: 1; }
}

/* Стили полей ввода */
.textbox{
  height:40px;
  width: 40%;
  border-radius:5px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:14px; 
  padding:5px;
  margin-bottom:20px;  
}

.textbox_2{
  height:40px;
  width: 150px;
  border-radius:5px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:14px; 
  padding:5px;
  margin-bottom:20px;  
}

.message:focus,
.textbox:focus,.textbox_2:focus{
  outline:none;
   border:rgba(125,157,165,1) 2px solid;
   color:#222222;
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 1); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 5px;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 5px; 
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:40px;
  width:20%;
  border-radius:5px;
  border:rgba(0,0,0,.4) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#608b9e;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#7d9da5;
}