body {
    
    font-family: 'Tahoma', Times, serif; 
    background: #d9d9d8;
    padding: 0;
    margin: 0;
    color:#000000;
    
}

header {
    
   height: 100px;
   background: #515151;
   color: #dfe2e1;
}

footer {
    
   height: 100px;
   background: #c9c9c8;
   color: #818181;
   margin-top: 30px;
   padding: 15px;
}

.logo {
    
    padding-left: 100px;
    padding-top: 10px;
}

.main {
    
    width: 1000px;
    margin: 0 auto;

}


nav {
    display: block; 
    background: #505050;
    margin-top: 80px;
    height: 45px;
}

nav a {
    
    color: #ffffff;
    text-decoration: none;
    height: 40px;
    display: block;
    float: left;
    padding: 10px 15px 5px 15px;
    
} 

nav a:hover {
    
    background: #e2b05f;
    color: #505050;
    height: 30px;
    display: block;
    float: left;
}

.content {
    
    background: #fcfcfc;
    color: #717171;
    padding: 10px;
    min-height: 600px;
}

.warning {
    
   background: #a1e9c8;
   color: #717171;
   padding: 10px;
    
}

img {
    
    border:0;
}